<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="garage">
      <h2 data-cy="garageDetailsHeading"><span jhiTranslate="garageApp.garage.detail.title">Garage</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ garage.id }}</span>
        </dd>
        <dt><span jhiTranslate="garageApp.garage.name">Name</span></dt>
        <dd>
          <span>{{ garage.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/garage', garage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
